<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402635016505-tl41j4tvr8999uoc14do20ubjngi297u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402635016505-tl41j4tvr8999uoc14do20ubjngi297u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402635016505-hia2l5131knfjjtc01h4eeloh3rafamg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzBH9_sZ5R2O9GeEKdRwA8ZY9zKr05Bqc</string>
	<key>GCM_SENDER_ID</key>
	<string>402635016505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.milcomp.onlabproject</string>
	<key>PROJECT_ID</key>
	<string>onlab-a6959</string>
	<key>STORAGE_BUCKET</key>
	<string>onlab-a6959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402635016505:ios:59efc7cbb6d2030da6c0e8</string>
	<key>DATABASE_URL</key>
	<string>https://onlab-a6959.firebaseio.com</string>
</dict>
</plist>